<% content_for :title do %>
   Huh?
<%end%>


<p style="font-size:144px;text-align:center;font-weight:bold;color:darkred;">404</p>
<p style="font-size:48px;text-align:center;">Eek!</p>
<p style="font-size:24px;text-align:center;">You're in the thick of it now...</p>