<% content_for :title do %>
   Home
<%end%>

<div style="text-align:center;background-color:#963254;padding-top:10px;padding-bottom:10px;color:#E196AF;">
     <p style="font-size:48px;"> Shoppe - Easy, Simple, Shopping. </p>
</div>
<div style="text-align:center;background-color:#277650;padding-top:10px;padding-bottom:10px;color: #76B295">
     <i class="fa fa-rocket fa-5x" style="background-color: #4A9470; padding: 20px 20px 20px 20px; border-radius:100%" aria-hidden="true"></i>
     <p style="font-size:48px;"> Fast </p>
     <p style="font-size:18px; margin-left:5em; margin-right:5em;"> With Shoppe, getting the things you need is quicker than ever. With a lightweight site based on semantic web principles, finding what you need when you need it is easy.</p>
</div>
<div style="text-align:center;background-color:#94A537; padding-top:10px; padding-bottom:10px; color: #EBF7A5;">
     <i class="fa fa-thumbs-up fa-5x" style="background-color: #BFCE67; padding: 20px 20px 20px 20px; border-radius:100%" aria-hidden="true"></i>
     <p style="font-size:48px;"> Easy </p>
     <p style="font-size:18px; margin-left:5em; margin-right:5em;"> Shoppe is easy to use, simplifying your shopping experience!</p>
</div>