<% content_for :title do %>
   Um...
<%end%>


<p style="font-size:48px;text-align:center;">Huh.</p>
<p style="font-size:24px;text-align:center;">
Doesn't look like we have that product!
<br>
...
<br>
Maybe try another page?
</p>